
@{
    ViewData["Title"] = "Bekräftelse";
}

<section class="confirm">
    <div class="card mx-auto c-card">
        <div class="card-body">
            <h2 class="display-5 card-title text-center mb-4">Tack för din bokningsförfrågan!</h2>
            <p class="card-text">Vi skickar en bekräftelse till dig via e-post och sms när din bokning är klar. Skulle vi ha några funderingar
            gällande er bokning, kontaktar vi er snarast möjligt. Ha en fortsatt trevlig dag!</p><br/>
            <p>Mvh personalen från Jämtland Catering</p>
        </div>
        <img class="card-img-bottom img-fluid" src="~/images/prepare-food.jpg" alt="two people preparing food">
    </div>
</section>


