
@{
    ViewData["Title"] = "Om oss";
}
<!-- Background Image Parallax -->
    <div id="parallax-image">

        <div class="row h-100">
            <div class="col-md-12 align-self-center">
                <h1 class="headAbout text-center display-3 text-light">Vårt kök med hjärtat i Jämtland</h1>
                <h3 class="subAbout text-center display-5 text-light">Vi erbjuder er som bor i Östersund goda lokala råvaror, till ett bra pris!</h3>
            </div>
        </div>
    </div>
        <div class="col-xs-12 col-sm-12 col-md-6 text align-self-center mx-auto">  
            <h2 class="text-center mb-4">Vår bakgrundshistoria</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis condimentum est, vel aliquet enim semper id.
            Aliquam congue massa erat, eget imperdiet mauris ornare id. Sed eget neque suscipit, egestas dui nec, porta risus.
            Cras et suscipit turpis. Sed magna arcu, commodo sodales velit eu, ornare convallis lacus. Nulla mattis suscipit lacinia.
            Maecenas rhoncus nisi fermentum, ornare leo sit amet, rhoncus neque.</p><br />

            <p>Nullam convallis auctor nunc vel condimentum. Mauris sed nisi sed ex bibendum ultricies blandit lobortis est.
            Vestibulum pretium neque non dui congue convallis. Praesent sagittis, mi sed egestas fermentum, est tortor ornare nulla,
            vel aliquet arcu arcu at dui. Suspendisse efficitur quam enim, ut lobortis ligula varius vitae. Praesent ut metus nec massa
            pulvinar dignissim in ac velit. Quisque lacinia, ipsum at hendrerit suscipit, orci metus faucibus felis, vel viverra purus
            nisl sit amet eros. Etiam pretium facilisis rutrum.</p><br />
        </div>

        <div id="parallax-image-again"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 text align-self-center mx-auto">
            <h2 class="text-center mb-4">Om maten och våra råvaror</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis condimentum est, vel aliquet enim semper id.
                Aliquam congue massa erat, eget imperdiet mauris ornare id. Sed eget neque suscipit, egestas dui nec, porta risus.
                Cras et suscipit turpis. Sed magna arcu, commodo sodales velit eu, ornare convallis lacus. Nulla mattis suscipit lacinia.
                Maecenas rhoncus nisi fermentum, ornare leo sit amet, rhoncus neque.
            </p><br />

            <p>
                Nullam convallis auctor nunc vel condimentum. Mauris sed nisi sed ex bibendum ultricies blandit lobortis est.
                Vestibulum pretium neque non dui congue convallis. Praesent sagittis, mi sed egestas fermentum, est tortor ornare nulla,
                vel aliquet arcu arcu at dui.
            </p><br />

            <p>
                Suspendisse efficitur quam enim, ut lobortis ligula varius vitae. Praesent ut metus nec massa
                pulvinar dignissim in ac velit. Quisque lacinia, ipsum at hendrerit suscipit, orci metus faucibus felis, vel viverra purus
                nisl sit amet eros. Etiam pretium facilisis rutrum.
            </p><br />
        </div>
