
@{
    ViewData["Title"] = "Meny";
}
<!-- Background Image Parallax -->
<div id="parallax-image2" alt="blurred background image of fine dining">

    <div class="row h-100">
        <div class="col-md-12 align-self-center">
            <h1 class="text-center display-3 text-light">Vår meny</h1>
        </div>
    </div>
</div>

<!--Main container-->
<div class="mx-auto col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <h2 class="text-center mb-5">Cateringmeny</h2>
    <p class="text-center">Vill ni bjuda flera gäster på god mat? Vi gör jobbet åt er! Kika på vår meny nedan: </p>
    <div id="accordion">

        <!--Option 1-->
        <div class="card card-menu mx-auto">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-lg text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Jämtländsk buffé
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8">
                    <p>
                        Innehåller: Varmrökt regnbåge med hjortronsås, renkorv och älgkorv, tjälknöl, rensteksmousse på tunnbröd, rostade rotsaker, jämtländsk ostbricka,
                        mandelpotatissallad, tunnbrödschips, kex, sallad av säsongens tillgångar. Pris 275:-
                    </p>
                    </div>
                    <div class="col-md-4 mt-3 pt-2">
                        <div class="view z-depth-1">
                            <img src="~/images/cheese.jpg" alt="cheese platter" class="img-fluid">
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <!--End option 1-->
        <!--Option 2-->
        <div class="card card-menu mx-auto">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-lg text-dark" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Italiensk buffé
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8">
                            <p>
                                Innehåller: Getostsallad med soltorkade tomater och ruccolasallad, pestogratinerad kycklingfilé med citronsås, prosciutto skinka med sparris,
                                två olika salamis, gran padano ost, mixade oliver, pizzaslices med mozzarella, skinka och färska champinjoner, focaccia med smör, potatissallad med rädisor,
                                ruccola, rödlök och kapris, grissini. 195:-
                            </p>
                            </div>
                            <div class="col-md-4 mt-3 pt-2">
                                <div class="view z-depth-1">
                                    <img src="~/images/italien.jpg" alt="pizza" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        <!--End option 2-->
        <!--Option 3-->
        <div class="card card-menu mx-auto">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-lg text-dark" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Små buffér
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8">
                            <p>Innehåller: Marinerad rostbiff, laxpaj med purjolök och vitlök, grekisk fetaostsallad, grillade kycklingklubbor, toast skagen, pastasallad,
                            potatissallad samt smör och bröd. 210:-
                            </p>
                        </div>
                        <div class="col-md-4 mt-3 pt-2">
                            <div class="view z-depth-1">
                                <img src="~/images/small.jpg" alt="pasta" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        <!--End option 3-->
        <!--Option 4-->
        <div class="card card-menu mx-auto">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-lg text-dark" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Tapas buffé
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8">
                            <p>Innehåller: Parmasnurra med melonsalsa och färskost, bresola med marinerade kronärtskockor, scampi med torkad cocktailtomat och
                            örtcreme, marinerade laxbitar med gräslök, mandelpotatisskiva med sikrom och creme fraiche, renstek med syltad skogssvamp
                            och svartvinbärsdressing, varmrökt laxmousse, kalvfilé med ruccolassallad och tonfiskdressing, tapenad med sardeller, sallad,
                            ciabatta och smör. 310:-
                            </p>
                        </div>
                            <div class="col-md-4 mt-3 pt-2">
                                <div class="view z-depth-1">
                                    <img src="~/images/tapas.jpg" alt="tapas food" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        <!--End option 4-->
        <!--Option 5-->
        <div class="card card-menu mx-auto">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-lg text-dark" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Skogens rätter
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8">
                            <p>Välj bland:</p>
                            <ul>
                                <li>Grillat reninnanlår med lingonvodkasky, örtsmör, vitlöksfrästa grönsaker och mandelpotatispuré. 285:-</li>
                                <li>Älgfilé med enbärsgräddsås, pressgurka och stekt potatis. 295:-</li>
                                <li>Hjortstek med rödvinssky, karamelliserade steklökar och potatis och palsternacksgratäng. 225:-</li>
                                <li>Vildssvin med skogssvampsås, rotsakspytt och grillat rökt sidfläsk. 165:- </li>
                                <li>Tjäderrostbiff med ugnsrostade rotfrukter och gräddig sherrysås. 145:- </li>
                            </ul>
                            </div>
                            <div class="col-md-4 mt-3 pt-2">
                                <div class="view z-depth-1">
                                    <img src="~/images/forest.jpg" alt="meat" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--End option 5-->
        <!--Option 6-->
        <div class="card card-menu mx-auto">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-lg text-dark" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Fiskat från sjön
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8">
                            <p>Välj bland:</p>
                            <ul>
                                <li>Röding med smörstekta rödbetor, vispat limesmör och potatiskompott. 155:-</li>
                                <li>Varmrökt regnbåge med dillpesto, ugnsbakad purjolök och stuvad potatis. 155:-</li>
                            </ul>
                            </div>
                            <div class="col-md-4 mt-3 pt-2">
                                <div class="view z-depth-1">
                                    <img src="~/images/fish.jpg" alt="fish" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        <!--End option 6-->
        <!--Option 7-->
        <div class="card card-menu mx-auto">
            <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-lg text-dark" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Klassiker
                    </button>
                </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8">
                            <p>Välj bland:</p>
                            <ul>
                                <li>Oxfilé provencale med vitlök, haricots verts och råstekt potatis. 235:-</li>
                                <li>Filé mignon med rödvinssås, bernaisesås, baconlindade gröna bönor och hasselbackspotatis. 195:-</li>
                                <li>Kokt torskrygg med brynt smör och pepparrot, kokt potatis och rotfrukter. 165:-</li>
                            </ul>
                        </div>
                            <div class="col-md-4 mt-3 pt-2">
                                <div class="view z-depth-1">
                                    <img src="~/images/classics.jpg" alt="meat" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        <!--End option 7-->
        <!--Option 8-->
        <div class="card card-menu mx-auto">
            <div class="card-header" id="headingEight">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-lg text-dark" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Efterrätter
                    </button>
                </h2>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                <div class="card-body">
                    <div class="row my-4">
                        <div class="col-md-8">
                            <p>Välj bland:</p>
                            <ul>
                                <li>Glass med hjortron. 40:- </li>
                                <li>Vaniljpannacotta med blåbär och hallon. 35:- </li>
                                <li>Chokladtårta med grädde. 35:- </li>
                                <li>Citronpaj. 35:- </li>
                            </ul>
                        </div>
                            <div class="col-md-4 mt-3 pt-2">
                                <div class="view z-depth-1">
                                    <img src="~/images/aboutus.jpg" alt="chocolate cake" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        <!--End option 8-->

    </div><!--end accordion-->
    </div><!--end container-->
