@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center m-4">
        <h1 class="mt-6">@ViewData["Title"]</h1>

        <h2 class="mt-6">Hantera för:</h2>

        <a asp-controller="Bookings" class="btn btn-secondary btn-lg mt-4" asp-action="Index">Bokningar</a>
        <a asp-controller="News" class="btn btn-secondary btn-lg mt-4" asp-action="Index">Nyheter</a>

</div>

